node_red_data/flows.json
[
    {
        "id": "0c3b8c12eaa82c16",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d03b3548.76e998",
        "type": "tab",
        "label": "Dashboard Example",
        "disabled": true,
        "info": ""
    },
    {
        "id": "6f9128635bd5d98d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "143.107.102.8",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "18adfecf9d584021",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "84500c08350419d4",
        "type": "ui_tab",
        "name": "Dados do laboratório de software",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7aba1960bad53e76",
        "type": "ui_group",
        "name": "Misc",
        "tab": "84500c08350419d4",
        "order": 3,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6c81220149390b1d",
        "type": "ui_group",
        "name": "Consumo",
        "tab": "84500c08350419d4",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "89f53e52108dcf15",
        "type": "ui_group",
        "name": "Tensão e Corrente Eficazes - média móvel",
        "tab": "84500c08350419d4",
        "order": 2,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b173e1571a4fc62e",
        "type": "mqtt in",
        "z": "0c3b8c12eaa82c16",
        "name": "",
        "topic": "garsoft/dev/je05/dados",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "6f9128635bd5d98d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 100,
        "wires": [
            [
                "62dfd34d58f9efb5"
            ]
        ]
    },
    {
        "id": "1379a14405dd0208",
        "type": "function",
        "z": "0c3b8c12eaa82c16",
        "name": "PT",
        "func": "msg.payload = msg.payload.DATA.power.total;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 180,
        "wires": [
            [
                "a57a680d01f59e47",
                "d2e2c17994d9b081",
                "027a4c368fda70fa"
            ]
        ]
    },
    {
        "id": "a57a680d01f59e47",
        "type": "debug",
        "z": "0c3b8c12eaa82c16",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 560,
        "y": 100,
        "wires": []
    },
    {
        "id": "d2e2c17994d9b081",
        "type": "function",
        "z": "0c3b8c12eaa82c16",
        "name": "consumo_total",
        "func": "var count = ((context.get(\"counter\")|| 0) + msg.payload/(360*1000))\nmsg.payload = Math.round(count*10000)/10000;\n\ncontext.set(\"counter\", count);\n\nvar d = new Date();\nif (d.getHours() == 0 && d.getMinutes() == 0 && d.getSeconds() <= 30){\n    context.set(\"counter\", 0);\n    msg.payload = 0;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 180,
        "wires": [
            [
                "cd635970bf86d12f",
                "c104f8ebe0078904"
            ]
        ]
    },
    {
        "id": "cd635970bf86d12f",
        "type": "debug",
        "z": "0c3b8c12eaa82c16",
        "name": "debug consumo",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 800,
        "y": 100,
        "wires": []
    },
    {
        "id": "c104f8ebe0078904",
        "type": "ui_chart",
        "z": "0c3b8c12eaa82c16",
        "name": "",
        "group": "6c81220149390b1d",
        "order": 3,
        "width": 10,
        "height": 5,
        "label": "Consumo Total Diário (kWh)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "0145df19740f491f",
        "type": "function",
        "z": "0c3b8c12eaa82c16",
        "name": "V_A RMS",
        "func": "msg.payload = msg.payload.DATA.voltage.A;\nmsg.topic = \"Va Eficaz\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 480,
        "wires": [
            [
                "1ac8e14f1d068406"
            ]
        ]
    },
    {
        "id": "2e575a148929b32b",
        "type": "function",
        "z": "0c3b8c12eaa82c16",
        "name": "V_B RMS",
        "func": "msg.payload = msg.payload.DATA.voltage.B;\nmsg.topic = \"Vb Eficaz\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 540,
        "wires": [
            [
                "e05e6f324166773e"
            ]
        ]
    },
    {
        "id": "afb74c840d0a484c",
        "type": "function",
        "z": "0c3b8c12eaa82c16",
        "name": "V_C RMS",
        "func": "msg.payload = msg.payload.DATA.voltage.C;\nmsg.topic = \"Vc Eficaz\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 600,
        "wires": [
            [
                "e631b98a91156ebe"
            ]
        ]
    },
    {
        "id": "96f65941e34880b4",
        "type": "function",
        "z": "0c3b8c12eaa82c16",
        "name": "I_A RMS",
        "func": "msg.payload = msg.payload.DATA.current.A;\n\nmsg.topic = \"Ia Eficaz\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 680,
        "wires": [
            [
                "b07b53c38d3f73ef"
            ]
        ]
    },
    {
        "id": "2efc8cc1f457d9b5",
        "type": "function",
        "z": "0c3b8c12eaa82c16",
        "name": "I_B RMS",
        "func": "msg.payload = msg.payload.DATA.current.B;\n\nmsg.topic = \"Ib Eficaz\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 740,
        "wires": [
            [
                "39bc2c19c39697ea"
            ]
        ]
    },
    {
        "id": "2b5565e4215a2205",
        "type": "function",
        "z": "0c3b8c12eaa82c16",
        "name": "I_C RMS",
        "func": "msg.payload = msg.payload.DATA.current.C;\n\nmsg.topic = \"Ic Eficaz\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 800,
        "wires": [
            [
                "7a7e3e10420692d6"
            ]
        ]
    },
    {
        "id": "bee4fef16357a1e2",
        "type": "function",
        "z": "0c3b8c12eaa82c16",
        "name": "FREQ",
        "func": "msg.payload = msg.payload.DATA.frequency;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 860,
        "wires": [
            [
                "5931c92c7f6391db"
            ]
        ]
    },
    {
        "id": "184d4f1f9c999472",
        "type": "ui_chart",
        "z": "0c3b8c12eaa82c16",
        "name": "",
        "group": "89f53e52108dcf15",
        "order": 1,
        "width": 10,
        "height": 7,
        "label": "Tensão Eficaz (V)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#00ff1e",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "4fd3fee05eca5d53",
        "type": "ui_chart",
        "z": "0c3b8c12eaa82c16",
        "name": "",
        "group": "89f53e52108dcf15",
        "order": 2,
        "width": 10,
        "height": 7,
        "label": "Corrente Eficaz (A)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#00ff11",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "027a4c368fda70fa",
        "type": "function",
        "z": "0c3b8c12eaa82c16",
        "name": "consumo_médio",
        "func": "var medicoes = (context.get(\"medicoes\") || 0);\nvar consumo_medio = (context.get(\"consumo_medio\") || 0);\n\nconsumo_medio = (consumo_medio * medicoes + msg.payload) / (medicoes + 1);\n\n// var count = ((context.get(\"counter\")|| 0) + msg.payload/(360*1000))\nmsg.payload = Math.round(consumo_medio*10000)/10000;\n\ncontext.set(\"medicoes\", medicoes + 1);\ncontext.set(\"consumo_medio\", consumo_medio);\n\nvar d = new Date();\nif (d.getHours() == 0 && d.getMinutes() == 0 && d.getSeconds() <= 30){\n    context.set(\"medicoes\", 0);\n    context.set(\"consumo_medio\", 0);\n    msg.payload = 0;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 260,
        "wires": [
            [
                "eede647db7deeba9"
            ]
        ]
    },
    {
        "id": "eede647db7deeba9",
        "type": "ui_chart",
        "z": "0c3b8c12eaa82c16",
        "name": "",
        "group": "6c81220149390b1d",
        "order": 2,
        "width": 10,
        "height": 6,
        "label": "Potência Média Diária (W)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#d62728",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "317ad7806f751bff",
        "type": "function",
        "z": "0c3b8c12eaa82c16",
        "name": "KWHT",
        "func": "msg.payload = msg.payload.DATA.energy.active.total;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 320,
        "wires": [
            [
                "0a8610a744c2107f"
            ]
        ]
    },
    {
        "id": "0a8610a744c2107f",
        "type": "ui_chart",
        "z": "0c3b8c12eaa82c16",
        "name": "",
        "group": "6c81220149390b1d",
        "order": 1,
        "width": 10,
        "height": 6,
        "label": "Consumo Total (kWh)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff7f0e",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "1ac8e14f1d068406",
        "type": "function",
        "z": "0c3b8c12eaa82c16",
        "name": "média móvel diária",
        "func": "var medicoes = (context.get(\"medicoes\") || 0);\nvar valor_medio = (context.get(\"valor_medio\") || 0);\n\nvalor_medio = (valor_medio * medicoes + msg.payload) / (medicoes + 1);\n\nmsg.payload = Math.round(valor_medio*10000)/10000;\n\ncontext.set(\"medicoes\", medicoes + 1);\ncontext.set(\"valor_medio\", valor_medio);\n\nvar d = new Date();\nif (d.getHours() == 0 && d.getMinutes() == 0 && d.getSeconds() <= 30){\n    context.set(\"medicoes\", 0);\n    context.set(\"valor_medio\", 0);\n    msg.payload = 0;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 480,
        "wires": [
            [
                "184d4f1f9c999472"
            ]
        ]
    },
    {
        "id": "e05e6f324166773e",
        "type": "function",
        "z": "0c3b8c12eaa82c16",
        "name": "média móvel diária",
        "func": "var medicoes = (context.get(\"medicoes\") || 0);\nvar valor_medio = (context.get(\"valor_medio\") || 0);\n\nvalor_medio = (valor_medio * medicoes + msg.payload) / (medicoes + 1);\n\nmsg.payload = Math.round(valor_medio*10000)/10000;\n\ncontext.set(\"medicoes\", medicoes + 1);\ncontext.set(\"valor_medio\", valor_medio);\n\nvar d = new Date();\nif (d.getHours() == 0 && d.getMinutes() == 0 && d.getSeconds() <= 30){\n    context.set(\"medicoes\", 0);\n    context.set(\"valor_medio\", 0);\n    msg.payload = 0;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 540,
        "wires": [
            [
                "184d4f1f9c999472"
            ]
        ]
    },
    {
        "id": "e631b98a91156ebe",
        "type": "function",
        "z": "0c3b8c12eaa82c16",
        "name": "média móvel diária",
        "func": "var medicoes = (context.get(\"medicoes\") || 0);\nvar valor_medio = (context.get(\"valor_medio\") || 0);\n\nvalor_medio = (valor_medio * medicoes + msg.payload) / (medicoes + 1);\n\nmsg.payload = Math.round(valor_medio*10000)/10000;\n\ncontext.set(\"medicoes\", medicoes + 1);\ncontext.set(\"valor_medio\", valor_medio);\n\nvar d = new Date();\nif (d.getHours() == 0 && d.getMinutes() == 0 && d.getSeconds() <= 30){\n    context.set(\"medicoes\", 0);\n    context.set(\"valor_medio\", 0);\n    msg.payload = 0;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 600,
        "wires": [
            [
                "184d4f1f9c999472"
            ]
        ]
    },
    {
        "id": "b07b53c38d3f73ef",
        "type": "function",
        "z": "0c3b8c12eaa82c16",
        "name": "média móvel diária",
        "func": "var medicoes = (context.get(\"medicoes\") || 0);\nvar valor_medio = (context.get(\"valor_medio\") || 0);\n\nvalor_medio = (valor_medio * medicoes + msg.payload) / (medicoes + 1);\n\nmsg.payload = Math.round(valor_medio*10000)/10000;\n\ncontext.set(\"medicoes\", medicoes + 1);\ncontext.set(\"valor_medio\", valor_medio);\n\nvar d = new Date();\nif (d.getHours() == 0 && d.getMinutes() == 0 && d.getSeconds() <= 30){\n    context.set(\"medicoes\", 0);\n    context.set(\"valor_medio\", 0);\n    msg.payload = 0;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 680,
        "wires": [
            [
                "4fd3fee05eca5d53"
            ]
        ]
    },
    {
        "id": "39bc2c19c39697ea",
        "type": "function",
        "z": "0c3b8c12eaa82c16",
        "name": "média móvel diária",
        "func": "var medicoes = (context.get(\"medicoes\") || 0);\nvar valor_medio = (context.get(\"valor_medio\") || 0);\n\nvalor_medio = (valor_medio * medicoes + msg.payload) / (medicoes + 1);\n\nmsg.payload = Math.round(valor_medio*10000)/10000;\n\ncontext.set(\"medicoes\", medicoes + 1);\ncontext.set(\"valor_medio\", valor_medio);\n\nvar d = new Date();\nif (d.getHours() == 0 && d.getMinutes() == 0 && d.getSeconds() <= 30){\n    context.set(\"medicoes\", 0);\n    context.set(\"valor_medio\", 0);\n    msg.payload = 0;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 740,
        "wires": [
            [
                "4fd3fee05eca5d53"
            ]
        ]
    },
    {
        "id": "7a7e3e10420692d6",
        "type": "function",
        "z": "0c3b8c12eaa82c16",
        "name": "média móvel diária",
        "func": "var medicoes = (context.get(\"medicoes\") || 0);\nvar valor_medio = (context.get(\"valor_medio\") || 0);\n\nvalor_medio = (valor_medio * medicoes + msg.payload) / (medicoes + 1);\n\nmsg.payload = Math.round(valor_medio*10000)/10000;\n\ncontext.set(\"medicoes\", medicoes + 1);\ncontext.set(\"valor_medio\", valor_medio);\n\nvar d = new Date();\nif (d.getHours() == 0 && d.getMinutes() == 0 && d.getSeconds() <= 30){\n    context.set(\"medicoes\", 0);\n    context.set(\"valor_medio\", 0);\n    msg.payload = 0;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 800,
        "wires": [
            [
                "4fd3fee05eca5d53"
            ]
        ]
    },
    {
        "id": "4bd6efa8a2b291b5",
        "type": "function",
        "z": "0c3b8c12eaa82c16",
        "name": "PA",
        "func": "msg.payload = msg.payload.DATA.power.A;\nmsg.topic = \"Potência A\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 940,
        "wires": [
            [
                "7a35bc2d356e9ecf"
            ]
        ]
    },
    {
        "id": "6e061969fabe8e3d",
        "type": "function",
        "z": "0c3b8c12eaa82c16",
        "name": "PB",
        "func": "msg.payload = msg.payload.DATA.power.B;\nmsg.topic = \"Potência B\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1000,
        "wires": [
            [
                "7a35bc2d356e9ecf"
            ]
        ]
    },
    {
        "id": "5fdcc525db69a89a",
        "type": "function",
        "z": "0c3b8c12eaa82c16",
        "name": "PC",
        "func": "msg.payload = msg.payload.DATA.power.C;\nmsg.topic = \"Potência C\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1060,
        "wires": [
            [
                "7a35bc2d356e9ecf"
            ]
        ]
    },
    {
        "id": "7a35bc2d356e9ecf",
        "type": "ui_chart",
        "z": "0c3b8c12eaa82c16",
        "name": "",
        "group": "7aba1960bad53e76",
        "order": 1,
        "width": 10,
        "height": 6,
        "label": "Potências (W)",
        "chartType": "pie",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "50",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#00ff04",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "62dfd34d58f9efb5",
        "type": "function",
        "z": "0c3b8c12eaa82c16",
        "name": "valores parsseados",
        "func": "var output = {\n    voltage: {\n        A: msg.payload.DATA.VARMS,\n        B: msg.payload.DATA.VBRMS,\n        C: msg.payload.DATA.VCRMS\n    },\n    current: {\n        A: msg.payload.DATA.IARMS,\n        B: msg.payload.DATA.IBRMS,\n        C: msg.payload.DATA.ICRMS\n    },\n    power: {\n        A: msg.payload.DATA.PA,\n        B: msg.payload.DATA.PB,\n        C: msg.payload.DATA.PC,\n        total: msg.payload.DATA.PT\n    },\n    reactive_power: {\n        A: msg.payload.DATA.QA,\n        B: msg.payload.DATA.QB,\n        C: msg.payload.DATA.QC,\n        total: msg.payload.DATA.QT\n    },\n    apparent_power: {\n        A: msg.payload.DATA.SA,\n        B: msg.payload.DATA.SB,\n        C: msg.payload.DATA.SC,\n        total: msg.payload.DATA.ST\n    },\n    power_factor: {\n        A: msg.payload.DATA.FPA,\n        B: msg.payload.DATA.FPB,\n        C: msg.payload.DATA.FPC,\n        total: msg.payload.DATA.FPT\n    },\n    energy: {\n        active: {\n            A: msg.payload.DATA.KWHA / 1000,\n            B: msg.payload.DATA.KWHB / 1000,\n            C: msg.payload.DATA.KWHC / 1000,\n            total: msg.payload.DATA.KWHT / 1000\n        },\n        reactive: {\n            A: msg.payload.DATA.KVARHA,\n            B: msg.payload.DATA.KVARHB,\n            C: msg.payload.DATA.KVARHC,\n            total: msg.payload.DATA.KVARHT\n        }\n    },\n    frequency: msg.payload.DATA.FREQ / 100,\n    temperature: -Math.round(msg.payload.DATA.TEMP / 1000),\n    uptime: Math.round(msg.payload.DATA.UPTIME / 3600),\n    uptime_ms: msg.payload.DATA.UPTIME * 1000\n};\nmsg.payload.DATA = output;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 180,
        "wires": [
            [
                "1379a14405dd0208",
                "9776c7cf8a50e785",
                "ec4285722c027062",
                "4bd6efa8a2b291b5",
                "6e061969fabe8e3d",
                "5fdcc525db69a89a",
                "a4e09eac8715d68e",
                "48adeef8559bc378",
                "ebf099bf1a0bd1b0",
                "4a8ee11ecca7f23e",
                "273d8d5987b79bda",
                "5f97fb298a2191a8",
                "0145df19740f491f",
                "2e575a148929b32b",
                "afb74c840d0a484c",
                "317ad7806f751bff",
                "bee4fef16357a1e2",
                "96f65941e34880b4",
                "2efc8cc1f457d9b5",
                "2b5565e4215a2205"
            ]
        ]
    },
    {
        "id": "9776c7cf8a50e785",
        "type": "debug",
        "z": "0c3b8c12eaa82c16",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 100,
        "wires": []
    },
    {
        "id": "ec4285722c027062",
        "type": "function",
        "z": "0c3b8c12eaa82c16",
        "name": "tempo ligado",
        "func": "// msg.payload = msg.payload.DATA.uptime+\" h\";\n\nvar uptime = msg.payload.DATA.uptime_ms;\n\nvar days = Math.floor(uptime / 1000 / 3600 / 24);\nuptime = uptime - days * 24 * 3600 * 1000;\nvar hours = Math.floor(uptime / 1000 / 3600);\nuptime = uptime - hours * 3600 * 1000;\nvar minutes = Math.floor(uptime / 1000 / 60);\nuptime = uptime - minutes * 60 * 1000;\nvar seconds = Math.floor(uptime / 1000);\n\nmsg.payload = days + \"d \" + \nhours.toString().padStart(2, '0') + \":\" + \nminutes.toString().padStart(2, '0') + \":\" + \nseconds.toString().padStart(2, '0');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1120,
        "wires": [
            [
                "55c05b6a0c9bb22c"
            ]
        ]
    },
    {
        "id": "5931c92c7f6391db",
        "type": "ui_gauge",
        "z": "0c3b8c12eaa82c16",
        "name": "",
        "group": "7aba1960bad53e76",
        "order": 4,
        "width": 10,
        "height": 6,
        "gtype": "gage",
        "title": "Frequência da rede (Hz)",
        "label": "Hz",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 870,
        "y": 860,
        "wires": []
    },
    {
        "id": "55c05b6a0c9bb22c",
        "type": "ui_text",
        "z": "0c3b8c12eaa82c16",
        "group": "6c81220149390b1d",
        "order": 4,
        "width": 10,
        "height": 5,
        "name": "",
        "label": "Tempo ligado:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "texto",
        "x": 840,
        "y": 1120,
        "wires": []
    },
    {
        "id": "a4e09eac8715d68e",
        "type": "function",
        "z": "0c3b8c12eaa82c16",
        "name": "Potência Total",
        "func": "msg.payload = msg.payload.DATA.power.total;\nmsg.topic = \"Potência Total\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1200,
        "wires": [
            [
                "3d23c0775a00d45a"
            ]
        ]
    },
    {
        "id": "48adeef8559bc378",
        "type": "function",
        "z": "0c3b8c12eaa82c16",
        "name": "Potência Reativa Total",
        "func": "msg.payload = msg.payload.DATA.reactive_power.total;\nmsg.topic = \"Potência Reativa Total\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1260,
        "wires": [
            [
                "3d23c0775a00d45a"
            ]
        ]
    },
    {
        "id": "ebf099bf1a0bd1b0",
        "type": "function",
        "z": "0c3b8c12eaa82c16",
        "name": "Potência Aparente Total",
        "func": "msg.payload = msg.payload.DATA.apparent_power.total;\nmsg.topic = \"Potência Aparente Total\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1320,
        "wires": [
            [
                "3d23c0775a00d45a"
            ]
        ]
    },
    {
        "id": "3d23c0775a00d45a",
        "type": "ui_chart",
        "z": "0c3b8c12eaa82c16",
        "name": "",
        "group": "7aba1960bad53e76",
        "order": 2,
        "width": 10,
        "height": 6,
        "label": "Potência Total",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#00f510",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "4a8ee11ecca7f23e",
        "type": "function",
        "z": "0c3b8c12eaa82c16",
        "name": "Fator de Potência A",
        "func": "msg.payload = -msg.payload.DATA.power_factor.A;\nmsg.topic = \"Fator de Potência A\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1380,
        "wires": [
            [
                "5cf1f4a4344b404c"
            ]
        ]
    },
    {
        "id": "273d8d5987b79bda",
        "type": "function",
        "z": "0c3b8c12eaa82c16",
        "name": "Fator de Potência B",
        "func": "msg.payload = -msg.payload.DATA.power_factor.B;\nmsg.topic = \"Fator de Potência B\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1440,
        "wires": [
            [
                "5cf1f4a4344b404c"
            ]
        ]
    },
    {
        "id": "5f97fb298a2191a8",
        "type": "function",
        "z": "0c3b8c12eaa82c16",
        "name": "Fator de Potência C",
        "func": "msg.payload = -msg.payload.DATA.power_factor.C;\nmsg.topic = \"Fator de Potência C\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1500,
        "wires": [
            [
                "5cf1f4a4344b404c"
            ]
        ]
    },
    {
        "id": "5cf1f4a4344b404c",
        "type": "ui_chart",
        "z": "0c3b8c12eaa82c16",
        "name": "",
        "group": "7aba1960bad53e76",
        "order": 3,
        "width": 10,
        "height": 6,
        "label": "Módulo do Fator de Potência",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "50",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#1eff00",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 880,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "c8b2d56771113ac8",
        "type": "ui_template",
        "z": "0c3b8c12eaa82c16",
        "group": "6c81220149390b1d",
        "name": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<style>\n\n.texto {\nfont-size: 32px;\n}\n\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1060,
        "y": 1120,
        "wires": [
            []
        ]
    }
]